<table id="dt_users" class="dt_basic table table-striped table-bordered table-hover" width="100%">
  <thead>                     
    <tr>
      <th data-class="expand">Name</th>
      <th data-class="expand">Email</th>

    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
